@model SisQuejasReclamos.Models.Departamento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Departamento }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
